
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --fontTitulo: 'Oswald', sans-serif;
    --font: 'Lexend Exa', sans-serif;
    
    --colorFondo: rgb(149, 151, 153);
    --colorFondo2: rgb(184, 185, 185);
    --colorTortolani: #08415C;
    --colorContainer: #388697;

    --colorSub: #61433a;
    --colorTexto: #07374d;

    --colorTextSwitch: #119DA4;
}


body{
    background: linear-gradient(337deg, #654ea3, #da98b4);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    height: max-content;
    padding: 0px;
    border: none;
    margin: 0px;
}

.container{
    width: 80vw;
    min-height: 100vh;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorFondo2);
    background-color: rgba(42, 52, 95, 0.24);
}

.title {
    margin: 40px;
    
    font-family: var(--fontTitulo);
    font-size: 80px;
    font-weight: 800;
    text-shadow: 5px 5px 10px #435f64a2;
    color: var(--colorTortolani);
}


.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: var(--font);

    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: var(--colorTextSwitch);
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: var(--colorFondo2);
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: var(--colorTextSwitch);
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: var(--colorFondo2);
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 98px;
    height: 40px;
    background-color: #4e799c;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    color: var(--colorBackSwitch);
    
    
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: rgb(253, 253, 253);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
    
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }

.container-gracias{
  display: inline;
  width: 60vw;
}

.esp-subtitle {
  display: flex;
}

h3{
    font-family: var();
    font-size: 2rem;
    color: var(--colorSub);
    justify-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    margin: 0px 10px;
}




p{
    text-align: justify;
    font-size: 1.5rem;
    max-width: 50vw;
    justify-content: center;
    color: var(--colorTexto);
}
.mail{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.btn-contact{
  margin: 20px;
}

.hidden {
  display: none;
}

.btn-contact button {
  cursor: pointer;
  width: 16vw;
  min-width: 180px;
  height: 5vh;
  min-height: 40px;
  border-radius: 100px;
  border-style: none;
  font-family: var(--font);
  font-size: 1.7rem;
  font-weight: 500;
  color: #379ece;
  background: rgba(42, 52, 95, 0.3);
  box-shadow:  3px 3px 6px #444444,
             -3px -3px 6px #a7a7a781;
}

.btn-contact button:hover {
  color: var(--colorTexto);
  color: #76c1e4;
  background: linear-gradient(-120deg, #33439c, #5f65a0);
  background: rgba(42, 52, 95, 0.5);
}

footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    justify-content: space-between;
}

.contact a{
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    padding: 0px 20px;
    margin: 20px;
}

/* Responsive mobile */

@media screen and (max-width: 1380px) {
  .btn-contact button {
    font-size: 1.3rem;
  }
  
}

@media screen and (max-width: 950px) {
  .title {
    font-size: 68px;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
    max-width: 60vw;
  }
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 645px) {
  
}

@media screen and (max-width: 580px) {
  .container {
    width: 90vw;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.3rem;
    max-width: 70vw;
  }
}

@media screen and (max-width: 415px) {
  .container {
    width: 100vw;
  }
  
  .title {
    font-size: 60px;
  }
}

